.customerTable .customer-tbl {
  width: 1030px;
  margin-left: 90px;
  border-collapse: collapse;
}
.customerTable .customer-tbl tbody {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  height: 108px;
}

.customerTable .customer-tbl td {
  border-bottom: 1px solid #e5e7eb;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
  height: 80px;
}

.customerTable .customer-tbl tbody .btn-ship {
  padding: 8px 15px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.customerTable .customer-tbl tbody .btn-edit {
  padding: 8px 15px;
  color: #ffffff;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: none;
  line-height: 20px;
  background: #3ab44a;
  border-radius: 6px;
}

.customerTable .customer-tbl tbody tr:hover {
  background: rgba(236, 254, 244, 0.3);
}
