.customer .btn-add {
  margin: 59px 0px 41px 92px;
}
.customer .btn-add button {
  padding: 10px 24px;
  background: #3ab44a;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.customer .tbhead {
  display: flex;
  flex-direction: row;
  margin-left: 95px;
  margin-bottom: 11px;
}
.customer .tbhead h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6b7280;
}
.customer .tbhead h6:nth-child(1) {
  padding-right: 65px;
}
.customer .tbhead h6:nth-child(2) {
  padding-right: 20px;
}
.customer .tbhead h6:nth-child(3) {
  padding-right: 145px;
}
.customer .tbhead h6:nth-child(4) {
  padding-right: 85px;
}
