.customer .btn-add {
  margin: 59px 0px 41px 50px;
}
.btn-add h2 {
  display: none;
}
.customer .btn-add button {
  padding: 10px 24px;
  background: #3ab44a;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  border: none;
}

@media only screen and (max-width: 760px) {
  .customer .btn-add {
    margin: 15px 0px 41px 30px;
  }
  .btn-add h2 {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
  }

  .customer .btn-add button {
    margin-top: 5px;
    padding: 3px 5px;
    background: #3ab44a;
    border-radius: 3px;
    font-weight: 400;
    font-size: 11px;
  }
}
