.shipment .shipment-content {
  margin-left: 50px;
  margin-top: 79px;
}
.shipment-content .userProfile {
  display: flex;
  flex-direction: row;
  background: #f9fafb;
  width: 620px;
  height: 145px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  align-items: center;
  margin-top: 31px;
}

.shipment-content .userProfile img {
  width: 60px;
  height: 60px;
  margin-left: 26px;
}
.shipment-content .userProfile .usersDetails h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-left: 22px;
}

.shipment-content .usersDetails p {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  color: #000000;
  margin-left: 22px;
  margin-top: -5px;
}
.shipment-content .edit-btn button {
  position: relative;
  left: 190px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  background: #3ab44a;
  border-radius: 6px;
}
.shipment .types-of-shipment {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 42px;
  margin-left: 50px;
}
.types-of-shipment .add-shipment button {
  font-weight: 500;
  font-size: 18px;
  background: #3ab44a;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  margin-right: 12px;
  width: 210px;
  height: 56px;
}
.types-of-shipment select {
  padding: 12px 24px;
  background: #f3f4f6;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  margin-right: 12px;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  color: #374151;
  height: 56px;
}
.types-of-shipment .seach-input {
  margin-left: 120px;
}

.shipment-date {
  padding: 10px 24px;
  width: 191px;
  height: 56px;
  border: 1px solid #d1d5db;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f3f4f6;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
}
.shipment-date .chev-down {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #374151;
}
.shipment-date input {
  border: none;
  outline: none;
  width: 130px;
  margin-left: -10px;
  background: #f3f4f6;
}
.shipment-date input::placeholder {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #374151;
}

.types-of-shipment .seach-input {
  width: 250px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.types-of-shipment .seach-input input {
  border: none;
  outline: none;
}

.types-of-shipment .seach-input input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #9ca3af;
}

@media only screen and (max-width: 600px) {
  .shipment .shipment-content {
    margin-left: -5px;
    margin-top: 30px;
  }

  .shipment-content .userProfile {
    display: flex;
    flex-direction: column;
    background: #f9fafb;
    justify-content: flex-start;
    width: 320px;
    height: 200px;
  }
  .shipment-content .userProfile img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: -250px;
  }
  .shipment-content .userProfile .usersDetails h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-left: -112px;
  }

  .shipment-content .usersDetails p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: -112px;
  }
  .shipment-content .edit-btn button {
    position: relative;
    left: 120px;
    top: -80px;
    font-size: 12px;
    line-height: 20px;
  }
  .shipment .types-of-shipment {
    display: grid;
    align-items: left;
    flex-direction: column;
    grid-template-columns: 200px 200px;
    margin-top: 32px;
    margin-left: -5px;
  }

  .types-of-shipment .add-shipment button {
    width: 145px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .types-of-shipment select {
    width: 155px;
    margin-bottom: 20px;
    margin-left: -40px;
    font-weight: 500;
    font-size: 12px;
  }

  .shipment-date {
    width: 150px;
  }

  .types-of-shipment .seach-input {
    width: 160px;
    margin-left: -40px;
  }

  .types-of-shipment .seach-input input {
    width: 120px;
  }

  .types-of-shipment .seach-input input::placeholder {
    font-size: 10px;
  }
}
