.AppGlass {
  display: grid;
  height: 97%;
  width: 100%;
  grid-template-columns: 250px auto;
}
.app-sidebar {
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  height: auto;
}
@media only screen and (max-width: 760px) {
  .app-sidebar {
    display: none;
  }
}
