.shipping-tab {
  margin-left: 112px;
  margin-top: 51px;
}
.shipping-tab .nav {
  width: 854px;
}

.shipping-tab .navItems {
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6b7280;
  padding: 11px 40px;
}
.shipping-tab .navItems.active {
  border-bottom: 2px solid #3ab44a;
  color: #000000;
}

.shipping-tab .docs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 38px;
  width: 854px;
  margin-bottom: 30px;
}
.shipping-tab .docs h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6b7280;
}

.shipping-tab .docs .btn-req {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #374151;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 14px;
  border-radius: 6px;
  margin-right: 13px;
}
.shipping-tab .docs .btnupload {
  border: none;
  width: 197px;
  height: 48px;
  background: #3ab44a;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.shipping-tab .nxp-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  width: 854px;
  height: 130px;
  padding: 0px 40px;
  margin-bottom: 30px;
}

.shipping-tab .nxp-form:last-child {
  margin-bottom: 100px;
}
.shipping-tab .form-Nxp {
  margin-left: 30px;
}
.del-Icon {
  position: relative;
  left: 550px;
  color: red;
}
.shipping-tab .nxp-form h1 {
  font-weight: 800;
  font-size: 16px;
  color: #111827;
}
.shipping-tab .nxp-form h2 {
  font-weight: 600;
  font-size: 16px;
  color: #111827;
}
.shipping-tab .nxp-form button {
  background-color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}

@media only screen and (max-width: 600px) {
  .shipping-tab {
    margin-left: 5px;
    margin-top: 51px;
  }

  .shipping-tab .nav {
    width: 300px;
  }

  .shipping-tab .navItems {
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    padding: 4px 4px;
  }

  .shipping-tab .docs h3 {
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
  }

  .shipping-tab .nxp-form {
    width: 280px;
    height: 100px;
    padding: 0px 40px;
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .shipping-tab .nxp-form img {
    margin-left: -20px;
  }

  .shipping-tab .nxp-form h1 {
    font-weight: 600;
    font-size: 12px;
  }
  .shipping-tab .nxp-form h2 {
    font-weight: 500;
    font-size: 12px;
  }

  .shipping-tab .docs {
    display: block;
    margin-top: 20px;
  }

  .shipping-tab .docs .btnupload {
    width: 100px;
    height: 35px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
  }

  .shipping-tab .btnupload .svg-icon {
    width: 10px;
    height: 14px;
    margin-right: -5px;
  }

  .shipping-tab .docs .btn-req {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 10px;
  }

  .shipping-tab .nxp-form button {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }
}
