.shippingInfos .shipping-tbl {
  border-collapse: collapse;
  width: 1040px;
  margin-top: 44px;
  margin-left: 42px;
  margin-bottom: 200px;
}

.shippingInfos thead th {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6b7280;
  width: 115px;
}

.shipping-tbl tbody tr {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  height: 80px;
}
.shipping-tbl tbody tr:hover {
  background: rgba(236, 254, 244, 0.3);
}

.shipping-tbl td:nth-child(2) {
  /* padding-right: 10px; */
  text-transform: capitalize;
}

.shipping-tbl td {
  border-bottom: 1px solid #e5e7eb;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.shipping-tbl td p {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #6b7280;
  margin-top: -5px;
  margin-bottom: -15px;
  padding-left: none;
}
.shipping-tbl .arrup-icon {
  background-color: #f0fdf4;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 10px;
}
.shipping-tbl .arrup-icon .icon {
  font-size: 23px;
  color: #3ab44a;
  margin: 15px;
}
.shipping-tbl .btn-view {
  padding: 8px 10px;
  background: #3ab44a;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}

@media only screen and (max-width: 760px) {
  .shippingInfos .shipping-tbl thead,
  tbody,
  th,
  td {
    display: block;
    width: 320px;
  }

  .shippingInfos .shipping-tbl {
    margin-left: 25px;
  }

  .shippingInfos .shipping-tbl thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .shippingInfos .shipping-tbl td img {
    -ms-transform: rotate(55deg);
    -ms-transform-origin: 20% 40%;
    transform: rotate(90deg);
    transform-origin: 20% 40%;
    width: 40px;
  }

  .shippingInfos .shipping-tbl td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    font-size: 12px;
    height: 50px;
  }
  .shippingInfos .shipping-tbl td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    padding-right: 10px;
    white-space: nowrap;
  }

  .shippingInfos .shipping-tbl td:nth-of-type(2):before {
    content: 'Shipment Type';
  }
  .shippingInfos .shipping-tbl td:nth-of-type(3):before {
    content: 'origin';
  }
  .shippingInfos .shipping-tbl td:nth-of-type(5):before {
    content: 'destination';
  }
  .shippingInfos .shipping-tbl td:nth-of-type(6):before {
    content: 'Shipment Date';
  }
  .shippingInfos .shipping-tbl td:nth-of-type(7):before {
    content: 'Shiping id';
  }
}
