* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  line-height: 28px;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 100%;
  grid-template-columns: 13rem auto;
}
